---
---

<!DOCTYPE html>
<html>
<head>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>DigiWearable | جدیدترین ابزار های پوشیدنی </title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css\style.css">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>

	{% include header.html %}
	
	{% include intro.html %}
	

	{% include footer.html %}



	<script type="text/javascript">
		var sectionHeight = $(window).height();

		$(document).ready(function(){
			$(".section").css("height",sectionHeight - 72);
		});



	</script>
</body>
</html>