
#wrapper
	#purchase_header
		+size(100% 72px)
		background: #272727
		position: relative
		z-index: 1000
		border-bottom: 1px solid #e5e5e5

		.header_container
			+size(95% 72px)

			.moto-paarseh-logo
				+media(max-width 960px)
					width: 100%
					text-align: center
					
				+media($mobile)
					img
						height: 40px
						margin-top: 18.5px


				width: 30%
				float: left
				display: inline-block
				img
					margin-top: 11px
					padding-left: 20px
			
			#purchase_navigation
				+media($mobile)
					display: none
				+media($tablet)
					display: none

				width: 60%
				float: right
				padding-right: 30px
				direction: rtl
				a
					text-align: right
					color: white
					text-decoration: none
					font-family: 'IRAN'
					line-height: 72px
					padding-left: 15px
					font-size: 16px
				a:hover
					border-bottom: 1px solid #ebebeb

			.menu_icon
				+media($desktop)
					display: none
				position: absolute
				top: 24px
				right: 15px
				opacity: .8

	#main_content
		+outer-container()
		color: black
		direction: rtl
		font-family: 'IRAN'

		h1.promo
			margin-top: 60px
			padding-right: 20px
			font-family: 44px

			
		.side_content
			@include span-columns(7)
			height: 100px
			direction: rtl
			.input-lg
				height: 60px
				padding: 10px 16px
				margin-bottom: 16px
				border-radius: 6px
				font-size: 18px
				border: 1px solid #ccc

		.deviceContainer
			@include span-columns(5)
			height: 300px
			

			.watch_container
				img
					+size(100%)
					text-align: center
			.thumbnail_container
				ul
					text-align: center
					text-decoration: none
					padding: 0 
					li
						display: inline-block
						padding-left: 15px





			


