
#wrapper
	#purchase_header
		+size(100% 72px)
		background: #272727
		position: fixed
		z-index: 1000
		border-bottom: 1px solid #e5e5e5

		.header_container
			+size(95% 72px)

			.moto-paarseh-logo
				+media(max-width 960px)
					width: 100%
					text-align: center
					
				+media($mobile)
					img
						height: 45px
						margin-top: 18.5px


				width: 30%
				float: left
				display: inline-block
				img
					margin-top: 11px
					padding-left: 20px
			
			#purchase_navigation
				+media($mobile)
					display: none
				+media($tablet)
					display: none

				width: 60%
				float: right
				padding-right: 30px
				direction: rtl
				a
					text-align: right
					color: white
					text-decoration: none
					font-family: 'IRAN'
					line-height: 72px
					padding-left: 15px
					font-size: 16px

			.menu_icon
				+media($desktop)
					display: none
				+media($mobile)
					top: 27px
					right: 10px
					img
						+size(18px)

				position: absolute
				top: 24px
				right: 24px
				opacity: .8







// // section content
// #main_content
// 	+outer_container
// 	+media($tablet)
// 		+span-columns(8)


// 	margin-top: 100px
// 	height: 500px
// 	.left_purchase
// 		+span-columns(3)
// 		background: red
// 		height: 400px
// 		+media($mobile)
// 			display: none

// 	.main_section
// 		+span-columns(6)
// 		background: blue
// 		height: 400px
// 		+media($mobile)
// 			+span-columns(6)
		


// 	.right_text
// 		+span-columns(3)
// 		background: red
// 		height: 400px
// 		+media($mobile)
// 			+span-columns(6)

