@media only screen and #{$smartphone}
	.section_content_desktop
		display: none
	#sub_header
		display: none
	.quote_container
		h1
			font-size: 22px
			width: 95%
		p
			width: 85%
			font-size: 16px
	#section7
		.desktop_section7
			display: none
	
		.section_text_area
			display: none

