<div class="map_container">
    <div class="contact_header">
        <div class="contact_wrapper">
            <h2>برای مشاوره و خرید با ما تماس بگیرید</h1>

            <span class="telephone">۰۲۱ - ۸۸۸۵ ۱۱ ۹۵ </span>
			<br>
            <span class="address">تهران، خیابان ولیعصر، بالاتر از طالاقانی، ساختمان پارسی، پلاک ۱۶۰۰، طبقه دوم واحد ۷</span>
            <br>
            <span class="postal_code">1231231231</span>
            <br>
            <span class="email_address"><a href="mailto:eparseh@gmail.com">eparseh@gmail.com</a></span>
            <br>
            <div class="line_break"></div>
            

            
        </div>

    </div>

    <div id="map_canvas"></div>
</div>