<div class="map_container">
    <div class="contact_header">
        <div class="contact_wrapper">
            <h2>برای مشاوره و خرید با ما تماس بگیرید</h1>

            <p class="telephone">۰۲۱ - ۸۸۸۵ ۱۱ ۹۵ </p>
            <p class="address">تهران، خیابان ولیعصر، بالاتر از طالاقانی، ساختمان پارسی، پلاک ۱۶۰۰، طبقه دوم واحد ۷</p>
            <p class="postal_code">کد پستی:‌ ۱۴۱۶۷۹۳۶۵۳</p>
            <p class="email_address"><a href="mailto:eparseh@gmail.com">eparseh@gmail.com</a></p>
            <div class="line_break"></div>


            
        </div>

    </div>

    <div id="map_canvas"></div>
</div>