<div id="footer">
    <div class="footer_container">
        <div class="footer_header"></div>
        <div class="first_col about_us">
        	<h2>معرفی امتداد پارسه</h2>
        	<p>
        		پارسه شهر پارسیان است، مردمانی سخت کوش که بزرگترین امپراتوری باستان را بنا نهادند و ما در شرکت «پارسه» افتخار خود را خدمت به پارسیان می‌دانیم. تلاش ما در دهه گذشته تمرکز بر عرضه آخرین فناوری‌های روز جهان در حوزه تجهیزات همراه بوده است و در این راه با ارائه راه‌حل‌های نوین پردازشی در صنعت رایانه‌های شخصی و عمومی توانستیم گام‌های بزرگی در اعتلا و پیشرفت کشور ایران برداریم.
        	</p>
        </div>
        <div class="second_col weblogs">
            <h2>وبلاگ های تخصصی</h2>
            <ul class="weblogs">

                {% for item in site.data.settings.footer_weblog %}
                <li><a href="{{ item.url }}" target="_blank">{{ item.name }}</a>
                </li>
                {% endfor %}

            </ul>

        </div>
        <div class="third_col other_products">
            <h2>سایر محصولات</h2>
            <ul class="products">
                {% for item in site.data.settings.footer_product %}
                <li>
                    <img src="{{ item.src }}" alt="">

                    <a href="{{ item.url }}" target="_blank">
	                		{{ item.name }}
	               	</a>
                </li>

                {% endfor %}
            </ul>
        </div>
    </div>
</div>