<div id="footer">
    <div class="footer_container">
        <div class="footer_header"></div>
        <div class="first_col about_us"></div>
        <div class="second_col weblogs">
            <h2>وبلاگ های تخصصی</h2>
            <ul class="weblogs">

                {% for item in site.data.settings.footer_weblog %}
                <li><a href="{{ item.url }}" target="_blank">{{ item.name }}</a>
                </li>
                {% endfor %}

            </ul>

        </div>
        <div class="third_col other_products">
            <h2>سایر محصولات</h2>
            <ul class="products">
                {% for item in site.data.settings.footer_product %}
                <li>
                    <img src="{{ item.src }}" alt="">

                    <a href="{{ item.url }}" target="_blank">
	                		{{ item.name }}
	               	</a>
                </li>

                {% endfor %}
            </ul>
        </div>
    </div>
</div>