<div class="section" id="section9" data-section="spec">
    <div class="section_text_area">
        <h2>
            مشخصات
        </h2>
        <div class="spec_list">

            <ol>
                <ul>
                    <img src="assets/img/checkmark.png" alt="">باطری برای تمام روز</ul>
                <ul>
                    <img src="assets/img/checkmark.png" alt="">همراه با شارژر بی سیم</ul>
                <ul>
                    <img src="assets/img/checkmark.png" alt="">مقاور در برابر آب</ul>
                <ul>
                    <img src="assets/img/checkmark.png" alt="">قدم شمار داخلی و
                    <br>
                    <span class="extra_spaceing">ضربان شمار نوری</span>
                </ul>
                <ul>
                    <img src="assets/img/checkmark.png" alt="">همگام سازی با موبایل های
                    <br>
                    <span class="extra_spaceing">دارای اندروید نسخه 4.3 به بالا</span>
                    <br>
                </ul>
            </ol>


        </div>
        <div class="more_detail_spec">
            <a href="#">اطلاعات فنی بیشتر</a>
        </div>

    </div>

    <div class="quote_container">
        <h1 class="voice">داک شارژر بی سیم موتو ۳۶۰</h1>
        <p>
            از یک روز کامل بدون نیاز به شارژ لذت ببرید. سپس شب هنگام موتو ۳۶۰ را روی داک شارژر قراردهید. همزمان با شارژ شدن ساعت خود،‌ ازداشتن یک ساعت رومیزی زیبا روی میز خود لذت ببرید.
        </p>
        <br>
        <a href="#" id="spec">اطلاعات فنی بیشتر</a>
    </div>

    <div class="watch_body"></div>

    <div class="watch_holder">
        <div class="moto360_side"></div>
    </div>
</div>