<div class="section" id="section9">
    <div class="desktop_spec">
        <h1>مشخصات</h1>
        <div class="section_content">
            <div class="section_text_area_columns">
                <div class="text_column">
                    <div class="spec_title">Available models</div>
                    <div class="spec_copy">1. Light stainless steel case Stone Horween<sup>®</sup> leather band
                        <br>2. Dark stainless steel case Black Horween<sup>®</sup> leather band
                        <br>3. Stainless Steel with Light Finish
                        <br>4. Stainless Steel with Dark Finish
                        <br>5. Stainless Steel with Light Finish 18mm band
                        <br>6. Stainless Steel with Champagne Gold Finish 18mm band
                    </div>
                    <div class="spec_title">Compatibility</div>
                    <div class="spec_copy">Smartphones running Android 4.3 or higher
                        <br>(check compatibility at <a href="http://g.co/WearCheck" target="_blank">g.co/WearCheck</a>)</div>
                    <div class="spec_title">Operating system</div>
                    <div class="spec_copy">Android Wear™</div>
                    <div class="spec_title">Display</div>
                    <div class="spec_copy">1.56" 320 x 290, 205ppi
                        <br>Backlit LCD
                        <br>Corning<sup>®</sup> Gorilla<sup>®</sup> Glass 3</div>
                    <div class="spec_title">Watch case dimensions</div>
                    <div class="spec_copy">46mm diameter by 11.5mm high</div>
                    <div class="spec_title">Weight</div>
                    <div class="spec_copy">Leather band model: 49g
                        <br>23mm Metal Band model: 124g
                        <br>18mm Metal Band model: 104g</div>
                </div>
                <div class="text_column right_column">
                    <div class="spec_title">Battery</div>
                    <div class="spec_copy">320mAh
                        <br>All day (mixed use)
                        <br>Wireless charging with charging dock included</div>
                    <div class="spec_title">Processor</div>
                    <div class="spec_copy">TI OMAP™ 3</div>
                    <div class="spec_title">Memory</div>
                    <div class="spec_copy">4GB internal storage + 512MB RAM</div>
                    <div class="spec_title">Connectivity</div>
                    <div class="spec_copy">Bluetooth 4.0 Low Energy</div>
                    <div class="spec_title">Sensors</div>
                    <div class="spec_copy">Pedometer
                        <br>Optical heart rate monitor (PPG)</div>
                    <div class="spec_title">Water resistance</div>
                    <div class="spec_copy">IP67</div>
                    <div class="spec_title">Other</div>
                    <div class="spec_copy">Single physical button
                        <br>Vibration motor
                        <br>Dual microphones</div>
                </div>
            </div>

        </div>
    </div>


    <div id="mobile_spec">
        <div id="technical_specs_section_wrapper" class="bottomPad80">
            <div id="tech_specs_main_title">Technical Specs</div>
            <div class="tech_titles">Available models</div>
            <div class="white_copy specs_copy">1. Light stainless steel case + Stone Horween<sup>®</sup> leather band
                <br>2. Dark stainless steel case + Black Horween<sup>®</sup> leather band
                <br>3. Stainless Steel with Light Finish
                <br>4. Stainless Steel with Dark Finish
                <br>5. Stainless Steel with Light Finish 18mm band
                <br>6. Stainless Steel with Champagne Gold Finish 18mm band</div>
            <div class="tech_titles">Compatibility</div>
            <div class="white_copy specs_copy">Smartphones running Android 4.3 or higher (check compatibility at <a href="http://g.co/WearCheck" target="_blank">g.co/WearCheck</a>)</div>
            <div class="tech_titles">Operating system</div>
            <div class="white_copy specs_copy">Android Wear<sup>™</sup>
            </div>
            <div class="tech_titles">Display</div>
            <div class="white_copy specs_copy">1.56" 320 x 290, 205ppi
                <br>Backlit LCD
                <br>Corning<sup>®</sup> Gorilla<sup>®</sup> Glass 3</div>
            <div class="tech_titles">Watch case dimensions</div>
            <div class="white_copy specs_copy">46mm diameter by 11.5mm high</div>
            <div class="tech_titles">Weight</div>
            <div class="white_copy specs_copy">Leather band model: 49g
                <br>23mm Metal Band model: 124g
                <br>18mm Metal Band model: 104g</div>
            <div class="tech_titles">Battery</div>
            <div class="white_copy specs_copy">320mAh
                <br>All day (mixed use)
                <br>Wireless charging with charging dock included</div>
            <div class="tech_titles">Processor</div>
            <div class="white_copy specs_copy">TI OMAP™ 3</div>
            <div class="tech_titles">Memory</div>
            <div class="white_copy specs_copy">4GB internal storage + 512MB RAM</div>
            <div class="tech_titles">Connectivity</div>
            <div class="white_copy specs_copy">Bluetooth 4.0 Low Energy</div>
            <div class="tech_titles">Sensors</div>
            <div class="white_copy specs_copy">Pedometer
                <br>Optical heart rate monitor (PPG)
                <br>On-body detection</div>
            <div class="tech_titles">Water resistance</div>
            <div class="white_copy specs_copy">IP67</div>
            <div class="tech_titles">Other</div>
            <div class="white_copy specs_copy">Single physical button
                <br>Vibration motor
                <br>Dual microphones</div>
        </div>
    </div>

</div>