<div class="section" id="section8" data-section="explore">

    <div class="quote_container">
        <h1>
            صفحه ساعت شخصی
        </h1>
        <p>
            صفحه ساعت خود را مطابق با سلیقه و سبک لباس پوشیدنتان انتخاب کنید. ساعت شما همان استایل شماست.
        </p>
    </div>

    <div class="watch_wrapper">

        <div class="watch"></div>
        <div class="watch_face"></div>
        
        
    </div>

    <div class="watch_holder">

        <div class="moto360_side">
             <div class="watch_face"></div>
        </div>
       
		
    </div>


</div>