<div id="sub_header">

    <div class="sub_header_container">
        <div class="left_header">
            <div class="moto360_sub_header">
                <img src="assets/img/moto-paarseh-small.png" alt="موتو ۳۶۰">
            </div>
        </div>
        <div class="right_header">

            <div id="header_button">
                <div class="preorder_button">سفارش دهید</div>
            </div>

        </div>
        <!-- buy me  -->


        <!-- back to top -->
        <span class="BTT">

        </span>
    </div>

</div>