.map_container 
    width: 100%
    height: 600
    position: relative

    .contact_header 
        +size(100% 250px)
        background-color: #282828
        display: block
        h1
            text-align: center
            padding-top: 1em
            color: $accent-white
        .contact_wrapper
            color: white
            font-family: 'IRAN'
            text-align: center
            
            h2
                color: white
                text-align: center
                margin: 0
                padding: 20px 0
                font-size: 20px

            .telephone
                font-size: 18px
                line-height: 24px

            .address
                font-size: 16px
                line-height: 24px


        


    #map_canvas 

        width: 100%
        height: 350px
        background-color: #ebebeb
        display: block