#footer
	+size(100% 400px)
	background-color: #222c30

	.footer_container
		margin: 0 auto
		width: 90%

		.left,
		.middle, 
		.right
			height: 400px
			display: inline-block
		.left
			background-color: red
			width: 32.2%

		.middle
			background-color: green
			width: 32.3%

		.right
			background-color: blue
			width: 32.2%