#sub_header
	height: 72px
	width: 100%
	background-color: #282828
	display: relative
	z-index: 100000
	+clearfix
	.sub_header_container
		max-width: 1200px
		margin: auto
		position: relative
		color: #ffffff

		.left_header
			position: absolute
			left: 25px
			.moto360_sub_header
				height: 21px
				width: 171px
				margin-top: 25px
				img
					border: 0

.sub_header_scrolled
	position: fixed
	width: 100%
	top: 0 
