#sub_header
	height: 72px
	width: 100%
	background-color: #282828
	display: relative
	z-index: 100000
	+clearfix
	.sub_header_container
		max-width: 1200px
		margin: auto
		position: relative
		color: #ffffff

		.left_header
			position: absolute
			left: 25px
			.moto360_sub_header
				height: 50px
				width: auto
				margin-top: 12px
				img
					border: 0
		.right_header
			position: absolute
			right: 25px
			width: 50%
			#header_button
				left: 0

				.preorder_button
					cursor: pointer
					margin-top: 16px
					-webkit-font-smoothing: antialiased
					background-color: rgb(93, 142, 253)
					border-radius: 5px
					box-sizing: border-box
					color: rgb(255, 255, 255)
					display: block
					font-family: 'IRAN'
					font-size: 16px
					height: 40px
					letter-spacing: normal
					line-height: 40px
					text-align: center
					text-shadow: rgba(31, 40, 43, 0.498039) 0px -1px 3px
					visibility: visible
					width: 112px





.sub_header_scrolled
	position: fixed
	width: 100%
	top: 0 
