html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }
@font-face {
  font-family: 'IRAN';
  src: url("../fonts/IRAN.eot?#") format("eot"), url("../fonts/IRAN.woff") format("woff"), url("../fonts/IRAN.svg") format("svg"), url("../fonts/IRAN.ttf") format("truetype"); }
.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #BD5248;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

a {
  color: #BD5248;
  text-decoration: none;
  outline: 0; }

a:hover, a:focus {
  color: #d89993; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

body {
  background: #F6F6F8;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Open Sans" sans-serif;
  color: #2E2D33;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

@media only screen and (max-width: 440px) {
  .section_content_desktop {
    display: none; }

  #sub_header {
    display: none; }

  .quote_container h1 {
    font-size: 22px;
    width: 95%; }
  .quote_container p {
    width: 85%;
    font-size: 16px; }

  #section7 .desktop_section7 {
    display: none; } }
#main_header {
  height: 3.4375rem;
  background: #fff;
  position: relative;
  border-bottom-color: #e5e5e5;
  border-bottom-style: solid;
  border-bottom-width: 1px; }
  #main_header #dw_logo {
    line-height: 3.4375rem;
    font-family: "Roboto", Sans serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300; }

@media screen and (min-width: 441px) {
  #main_header {
    height: 72px; }
    #main_header #dw_logo {
      line-height: 72px;
      float: left;
      padding-left: 40px; } }
#sub_header {
  height: 72px;
  width: 100%;
  background-color: rgba(40, 40, 40, 0.96);
  display: relative;
  z-index: 100000; }
  #sub_header:after {
    content: "";
    display: table;
    clear: both; }
  #sub_header .sub_header_container {
    max-width: 1200px;
    margin: auto;
    position: relative;
    color: #ffffff; }
    #sub_header .sub_header_container .left_header {
      position: absolute;
      left: 25px; }
      #sub_header .sub_header_container .left_header .moto360_sub_header {
        height: 50px;
        width: auto;
        margin-top: 11px; }
        #sub_header .sub_header_container .left_header .moto360_sub_header img {
          border: 0; }
    #sub_header .sub_header_container .right_header {
      position: absolute;
      right: 25px;
      width: 50%; }
      #sub_header .sub_header_container .right_header #header_button {
        left: 0; }
        #sub_header .sub_header_container .right_header #header_button .preorder_button {
          cursor: pointer;
          margin-top: 18.5px;
          -webkit-font-smoothing: antialiased;
          background-color: #5d8efd;
          border-radius: 5px;
          box-sizing: border-box;
          color: white;
          display: block;
          font-family: "IRAN";
          font-size: 14px;
          height: 35px;
          letter-spacing: normal;
          line-height: 35px;
          text-align: center;
          text-shadow: rgba(31, 40, 43, 0.49804) 0px -1px 3px;
          visibility: visible;
          width: 100px; }

.sub_header_scrolled {
  position: fixed;
  width: 100%;
  top: 0; }

.section {
  display: block; }

.quote_container {
  font-family: "IRAN";
  direction: rtl;
  text-align: center; }
  .quote_container h1 {
    color: #2c2c2c;
    margin: 0;
    padding-top: 55px;
    padding-bottom: 15px;
    font-size: 24px; }
  .quote_container p {
    width: 85%;
    text-align: center;
    margin: auto;
    line-height: 28px;
    font-size: 18px;
    color: #2c2c2c; }

#section1 {
  background: url("../img/BG/hearo_BG.jpg");
  z-index: 99; }
  #section1 h1 {
    font-family: "IRAN";
    margin: 0;
    text-align: center;
    color: #ebebeb;
    padding-top: 1em;
    display: relative;
    font-size: 40px;
    letter-spacing: -1px;
    direction: rtl; }
  #section1 .moto360_logo {
    background: url("../img/moto360_logo_2x.png");
    margin-top: 1.6em;
    margin-bottom: 1em;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  #section1 #buy_me {
    text-align: center;
    padding-top: 20px; }
    #section1 #buy_me a {
      text-decoration: none;
      text-shadow: rgba(31, 40, 43, 0.49804) 0px -1px 3px;
      line-height: 45px;
      color: white;
      padding: 7px 20px;
      font-family: "IRAN";
      background-color: #5d8efd;
      border-radius: 5px;
      font-size: 16px; }
  #section1 #moto360_head {
    background: url("../img/head.png");
    z-index: 20;
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom; }

#section2 {
  background: url("../img/BG/mobile_BG1.jpg");
  z-index: 99; }
  #section2 .watch_body {
    background: url("../img/watch_feature.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    height: 320px;
    width: 100%; }
    #section2 .watch_body h1,
    #section2 .watch_body p {
      color: #2c2c2c;
      text-shadow: #ececec 1px 1px 10px; }

#section3 {
  background: url("../img/BG/mobile_BG2.jpg"); }
  #section3 h1,
  #section3 p {
    color: #ebebeb;
    text-shadow: black 1px 1px 3px; }
  #section3 .watch_body {
    background: url("../img/watch_feature_mobile2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    height: 320px;
    width: 100%; }

#section4 {
  background: url("../img/BG/mobile_BG4_sq.jpg"); }
  #section4 h1,
  #section4 p {
    color: #2c2c2c;
    text-shadow: #ececec 1px 1px 10px; }

#section5 {
  background: url("../img/BG/mobile_BG5_sq.jpg"); }
  #section5 h1,
  #section5 p {
    color: #2c2c2c; }
    #section5 h1 em,
    #section5 p em {
      font-style: normal;
      color: #3c3c3c; }

#section6 {
  background: url("../img/BG/mobile_BG6_sq.jpg"); }
  #section6 h1,
  #section6 p {
    color: #ebebeb;
    text-shadow: black 1px 1px 3px; }

#section7 {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #fff; }
  #section7 .android_wear_logo {
    width: 300px;
    margin: auto;
    padding-top: 50px; }
    #section7 .android_wear_logo img {
      width: 100%;
      height: auto; }
  #section7 .mobile_section7 h1 {
    padding-top: 50px; }
  #section7 .mobile_section7 h1,
  #section7 .mobile_section7 p {
    color: #2c2c2c;
    text-shadow: #ececec 1px 1px 10px; }
  #section7 .mobile_section7 .android_pic {
    background: url("../img/android_pic.jpg");
    height: 300px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    background-position: bottom; }

#section8 {
  background: url("../img/BG/BG8.jpg");
  z-index: 99;
  height: 800px; }
  #section8 h1,
  #section8 p {
    color: #ebebeb;
    text-shadow: black 1px 1px 3px; }
  #section8 .watch_wrapper {
    width: 100%;
    height: 400px; }
    #section8 .watch_wrapper .watch {
      background: url("../img/watch_mobile_gray1.png");
      position: absolute;
      bottom: 0;
      height: 320px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom;
      z-index: 3000;
      margin-bottom: 30px; }
    #section8 .watch_wrapper .watch_face {
      background: url("../img/watchface500X500.gif");
      position: absolute;
      bottom: 0;
      z-index: 5000;
      height: 320px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom;
      margin-bottom: 30px; }

#section1,
#section2,
#section3,
#section4,
#section5,
#section6,
#section8,
#section9 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
  width: 100%; }

@media only screen and (min-width: 441px) and (max-width: 960px) {
  .section_content_desktop {
    display: none; }

  #sub_header {
    display: none; }

  #section1 #moto360_head {
    height: 45%; }
  #section1 .section_content_desktop {
    display: none; } }
@media only screen and (min-width: 961px) {
  .quote_container {
    width: 260px;
    direction: rtl;
    position: absolute;
    top: 20%;
    right: 100px; }
    .quote_container h1 {
      color: #2c2c2c;
      margin: 0;
      padding-bottom: 10px;
      font-size: 22px;
      text-align: right;
      padding-top: 0; }
    .quote_container p {
      text-align: right;
      width: 100%;
      margin: auto;
      line-height: 24px;
      font-size: 14px;
      color: #2c2c2c; }

  .watch_holder {
    position: relative; }

  .watch_holder {
    height: 500px;
    padding-top: 100px; }
    .watch_holder .moto360_side {
      height: 80%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }

  #section1 {
    background: url("../img/BG/section1_desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%; }
    #section1 .section_content_mobile {
      display: none; }
    #section1 .section_content_desktop {
      width: 50%;
      padding-top: 4rem; }
      #section1 .section_content_desktop .moto360_logo_black {
        margin: 0 auto;
        padding-top: 3em;
        height: 30px;
        width: 200px; }
        #section1 .section_content_desktop .moto360_logo_black img {
          width: 100%; }
      #section1 .section_content_desktop h1 {
        color: #2c2c2c;
        font-size: 3.125rem;
        padding: 40px 0; }
      #section1 .section_content_desktop #buy_me {
        padding: 0; }
    #section1 .aw_logo {
      width: 150px;
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 0 0 15px 15px;
      cursor: pointer; }
      #section1 .aw_logo img {
        width: 100%; }

  #section2 {
    background: url("../img/BG/desktop_bg1.jpg"); }
    #section2 .watch_body {
      display: none;
      padding-top: 150px; }
    #section2 .watch_holder .moto360_side {
      background: url("../img/watch_feature.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 80%; }

  #section3 {
    background: url("../img/BG/bg3.jpg"); }
    #section3 .watch_body {
      display: none; }

  #section4 {
    background: url("../img/BG/desktop_bg3.jpg"); }
    #section4 .watch_body {
      display: none; }
    #section4 .watch_holder .moto360_side {
      background: url("../img/moto360_front_flight.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 80%; }

  #section5 {
    background: url("../img/BG/desktop_bg4.jpg"); }
    #section5 .watch_body {
      display: none; }
    #section5 .watch_holder .moto360_side {
      background: url("../img/moto360_front_nav.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 80%; }

  #section6 {
    color: #ebebeb;
    text-shadow: black 1px 1px 3px;
    background: url("../img/BG/desktop_bg6.jpg"); }
    #section6 .quote_container h1,
    #section6 .quote_container p {
      color: #2c2c2c;
      text-shadow: #ececec 1px 1px 10px; }
    #section6 .watch_body {
      display: none; }
    #section6 .watch_holder .moto360_side {
      background: url("../img/moto360_front_wellness.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 80%; }

  #section7 .quote_container_mobile {
    font-family: "IRAN";
    direction: rtl;
    text-align: center; }
    #section7 .quote_container_mobile h1 {
      color: #2c2c2c;
      margin: 0;
      padding-top: 50px;
      padding-bottom: 15px;
      font-size: 24px; }
    #section7 .quote_container_mobile p {
      width: 85%;
      text-align: center;
      margin: auto;
      line-height: 28px;
      font-size: 18px;
      color: #2c2c2c; }
    #section7 .quote_container_mobile h1,
    #section7 .quote_container_mobile p {
      text-shadow: #ececec 1px 1px 10px; }
  #section7 .quote_container {
    float: right; }
  #section7 .android_pic {
    float: left; }

  #section1,
  #section2,
  #section3,
  #section4,
  #section5,
  #section6,
  #section8,
  #section9 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
    width: 100%; } }
@media only screen and (max-width: 1050px) {
  .quote_container {
    right: 80px; }

  #section2 .watch_holder {
    max-width: 100%; }
    #section2 .watch_holder .moto360_side {
      height: 75%; } }
@media only screen and (max-width: 1050px) {
  .quote_container {
    right: 65px; }

  #section2 .watch_holder {
    max-width: 100%; }
    #section2 .watch_holder .moto360_side {
      height: 75%; } }
#overlay {
  opacity: 0;
  transition: .5s;
  overflow: hidden;
  background: rgba(26, 53, 71, 0.9);
  pointer-events: none;
  z-index: 1111111;
  position: fixed;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%; }

#overlay.open {
  opacity: 1;
  pointer-events: auto; }

#overlay .close {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 10px;
  top: 10px;
  text-indent: -9000px;
  background-image: url("../img/close_button.png");
  z-index: 1000; }

.map_container {
  width: 100%;
  height: 450px;
  position: relative; }

.map_container .contact_header {
  width: 100%;
  height: 100px;
  background-color: #282828;
  display: block; }

.map_container #map_canvas {
  width: 100%;
  height: 350px;
  background-color: blue;
  display: block; }

/*# sourceMappingURL=main.css.map */
