/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body:before {
  content: '';
  display: inline-block;
  background-image: -webkit-linear-gradient(left, transparent 0, #EEE 0, #EEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEE 8.51064%, #EEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEE 17.02128%, #EEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEE 25.53191%, #EEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEE 34.04255%, #EEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEE 42.55319%, #EEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEE 51.06383%, #EEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEE 59.57447%, #EEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEE 68.08511%, #EEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEE 76.59574%, #EEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEE 85.10638%, #EEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEE 93.61702%, #EEE 100.0%, transparent 100.0%);
  background-image: -moz-linear-gradient(left, transparent 0, #EEE 0, #EEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEE 8.51064%, #EEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEE 17.02128%, #EEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEE 25.53191%, #EEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEE 34.04255%, #EEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEE 42.55319%, #EEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEE 51.06383%, #EEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEE 59.57447%, #EEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEE 68.08511%, #EEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEE 76.59574%, #EEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEE 85.10638%, #EEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEE 93.61702%, #EEE 100.0%, transparent 100.0%);
  background-image: -ms-linear-gradient(left, transparent 0, #EEE 0, #EEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEE 8.51064%, #EEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEE 17.02128%, #EEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEE 25.53191%, #EEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEE 34.04255%, #EEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEE 42.55319%, #EEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEE 51.06383%, #EEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEE 59.57447%, #EEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEE 68.08511%, #EEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEE 76.59574%, #EEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEE 85.10638%, #EEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEE 93.61702%, #EEE 100.0%, transparent 100.0%);
  background-image: -o-linear-gradient(left, transparent 0, #EEE 0, #EEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEE 8.51064%, #EEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEE 17.02128%, #EEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEE 25.53191%, #EEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEE 34.04255%, #EEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEE 42.55319%, #EEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEE 51.06383%, #EEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEE 59.57447%, #EEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEE 68.08511%, #EEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEE 76.59574%, #EEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEE 85.10638%, #EEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEE 93.61702%, #EEE 100.0%, transparent 100.0%);
  background-image: linear-gradient(to left, transparent 0, #EEE 0, #EEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEE 8.51064%, #EEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEE 17.02128%, #EEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEE 25.53191%, #EEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEE 34.04255%, #EEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEE 42.55319%, #EEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEE 51.06383%, #EEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEE 59.57447%, #EEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEE 68.08511%, #EEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEE 76.59574%, #EEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEE 85.10638%, #EEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEE 93.61702%, #EEE 100.0%, transparent 100.0%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 87.5em;
  opacity: 0.9;
  position: fixed;
  right: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1; }
  @media screen and (max-width: 440px) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #EEE 0, #EEE 13.04348%, transparent 13.04348%, transparent 17.3913%, #EEE 17.3913%, #EEE 30.43478%, transparent 30.43478%, transparent 34.78261%, #EEE 34.78261%, #EEE 47.82609%, transparent 47.82609%, transparent 52.17391%, #EEE 52.17391%, #EEE 65.21739%, transparent 65.21739%, transparent 69.56522%, #EEE 69.56522%, #EEE 82.6087%, transparent 82.6087%, transparent 86.95652%, #EEE 86.95652%, #EEE 100.0%, transparent 100.0%);
      background-image: -moz-linear-gradient(left, transparent 0, #EEE 0, #EEE 13.04348%, transparent 13.04348%, transparent 17.3913%, #EEE 17.3913%, #EEE 30.43478%, transparent 30.43478%, transparent 34.78261%, #EEE 34.78261%, #EEE 47.82609%, transparent 47.82609%, transparent 52.17391%, #EEE 52.17391%, #EEE 65.21739%, transparent 65.21739%, transparent 69.56522%, #EEE 69.56522%, #EEE 82.6087%, transparent 82.6087%, transparent 86.95652%, #EEE 86.95652%, #EEE 100.0%, transparent 100.0%);
      background-image: -ms-linear-gradient(left, transparent 0, #EEE 0, #EEE 13.04348%, transparent 13.04348%, transparent 17.3913%, #EEE 17.3913%, #EEE 30.43478%, transparent 30.43478%, transparent 34.78261%, #EEE 34.78261%, #EEE 47.82609%, transparent 47.82609%, transparent 52.17391%, #EEE 52.17391%, #EEE 65.21739%, transparent 65.21739%, transparent 69.56522%, #EEE 69.56522%, #EEE 82.6087%, transparent 82.6087%, transparent 86.95652%, #EEE 86.95652%, #EEE 100.0%, transparent 100.0%);
      background-image: -o-linear-gradient(left, transparent 0, #EEE 0, #EEE 13.04348%, transparent 13.04348%, transparent 17.3913%, #EEE 17.3913%, #EEE 30.43478%, transparent 30.43478%, transparent 34.78261%, #EEE 34.78261%, #EEE 47.82609%, transparent 47.82609%, transparent 52.17391%, #EEE 52.17391%, #EEE 65.21739%, transparent 65.21739%, transparent 69.56522%, #EEE 69.56522%, #EEE 82.6087%, transparent 82.6087%, transparent 86.95652%, #EEE 86.95652%, #EEE 100.0%, transparent 100.0%);
      background-image: linear-gradient(to left, transparent 0, #EEE 0, #EEE 13.04348%, transparent 13.04348%, transparent 17.3913%, #EEE 17.3913%, #EEE 30.43478%, transparent 30.43478%, transparent 34.78261%, #EEE 34.78261%, #EEE 47.82609%, transparent 47.82609%, transparent 52.17391%, #EEE 52.17391%, #EEE 65.21739%, transparent 65.21739%, transparent 69.56522%, #EEE 69.56522%, #EEE 82.6087%, transparent 82.6087%, transparent 86.95652%, #EEE 86.95652%, #EEE 100.0%, transparent 100.0%); } }
  @media screen and (min-width: 27.5625em) and (max-width: 60em) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #EEE 0, #EEE 9.67742%, transparent 9.67742%, transparent 12.90323%, #EEE 12.90323%, #EEE 22.58065%, transparent 22.58065%, transparent 25.80645%, #EEE 25.80645%, #EEE 35.48387%, transparent 35.48387%, transparent 38.70968%, #EEE 38.70968%, #EEE 48.3871%, transparent 48.3871%, transparent 51.6129%, #EEE 51.6129%, #EEE 61.29032%, transparent 61.29032%, transparent 64.51613%, #EEE 64.51613%, #EEE 74.19355%, transparent 74.19355%, transparent 77.41935%, #EEE 77.41935%, #EEE 87.09677%, transparent 87.09677%, transparent 90.32258%, #EEE 90.32258%, #EEE 100.0%, transparent 100.0%);
      background-image: -moz-linear-gradient(left, transparent 0, #EEE 0, #EEE 9.67742%, transparent 9.67742%, transparent 12.90323%, #EEE 12.90323%, #EEE 22.58065%, transparent 22.58065%, transparent 25.80645%, #EEE 25.80645%, #EEE 35.48387%, transparent 35.48387%, transparent 38.70968%, #EEE 38.70968%, #EEE 48.3871%, transparent 48.3871%, transparent 51.6129%, #EEE 51.6129%, #EEE 61.29032%, transparent 61.29032%, transparent 64.51613%, #EEE 64.51613%, #EEE 74.19355%, transparent 74.19355%, transparent 77.41935%, #EEE 77.41935%, #EEE 87.09677%, transparent 87.09677%, transparent 90.32258%, #EEE 90.32258%, #EEE 100.0%, transparent 100.0%);
      background-image: -ms-linear-gradient(left, transparent 0, #EEE 0, #EEE 9.67742%, transparent 9.67742%, transparent 12.90323%, #EEE 12.90323%, #EEE 22.58065%, transparent 22.58065%, transparent 25.80645%, #EEE 25.80645%, #EEE 35.48387%, transparent 35.48387%, transparent 38.70968%, #EEE 38.70968%, #EEE 48.3871%, transparent 48.3871%, transparent 51.6129%, #EEE 51.6129%, #EEE 61.29032%, transparent 61.29032%, transparent 64.51613%, #EEE 64.51613%, #EEE 74.19355%, transparent 74.19355%, transparent 77.41935%, #EEE 77.41935%, #EEE 87.09677%, transparent 87.09677%, transparent 90.32258%, #EEE 90.32258%, #EEE 100.0%, transparent 100.0%);
      background-image: -o-linear-gradient(left, transparent 0, #EEE 0, #EEE 9.67742%, transparent 9.67742%, transparent 12.90323%, #EEE 12.90323%, #EEE 22.58065%, transparent 22.58065%, transparent 25.80645%, #EEE 25.80645%, #EEE 35.48387%, transparent 35.48387%, transparent 38.70968%, #EEE 38.70968%, #EEE 48.3871%, transparent 48.3871%, transparent 51.6129%, #EEE 51.6129%, #EEE 61.29032%, transparent 61.29032%, transparent 64.51613%, #EEE 64.51613%, #EEE 74.19355%, transparent 74.19355%, transparent 77.41935%, #EEE 77.41935%, #EEE 87.09677%, transparent 87.09677%, transparent 90.32258%, #EEE 90.32258%, #EEE 100.0%, transparent 100.0%);
      background-image: linear-gradient(to left, transparent 0, #EEE 0, #EEE 9.67742%, transparent 9.67742%, transparent 12.90323%, #EEE 12.90323%, #EEE 22.58065%, transparent 22.58065%, transparent 25.80645%, #EEE 25.80645%, #EEE 35.48387%, transparent 35.48387%, transparent 38.70968%, #EEE 38.70968%, #EEE 48.3871%, transparent 48.3871%, transparent 51.6129%, #EEE 51.6129%, #EEE 61.29032%, transparent 61.29032%, transparent 64.51613%, #EEE 64.51613%, #EEE 74.19355%, transparent 74.19355%, transparent 77.41935%, #EEE 77.41935%, #EEE 87.09677%, transparent 87.09677%, transparent 90.32258%, #EEE 90.32258%, #EEE 100.0%, transparent 100.0%); } }
  @media screen and (min-width: 60.0625em) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #EEE 0, #EEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEE 8.51064%, #EEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEE 17.02128%, #EEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEE 25.53191%, #EEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEE 34.04255%, #EEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEE 42.55319%, #EEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEE 51.06383%, #EEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEE 59.57447%, #EEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEE 68.08511%, #EEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEE 76.59574%, #EEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEE 85.10638%, #EEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEE 93.61702%, #EEE 100.0%, transparent 100.0%);
      background-image: -moz-linear-gradient(left, transparent 0, #EEE 0, #EEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEE 8.51064%, #EEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEE 17.02128%, #EEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEE 25.53191%, #EEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEE 34.04255%, #EEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEE 42.55319%, #EEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEE 51.06383%, #EEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEE 59.57447%, #EEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEE 68.08511%, #EEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEE 76.59574%, #EEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEE 85.10638%, #EEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEE 93.61702%, #EEE 100.0%, transparent 100.0%);
      background-image: -ms-linear-gradient(left, transparent 0, #EEE 0, #EEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEE 8.51064%, #EEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEE 17.02128%, #EEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEE 25.53191%, #EEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEE 34.04255%, #EEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEE 42.55319%, #EEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEE 51.06383%, #EEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEE 59.57447%, #EEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEE 68.08511%, #EEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEE 76.59574%, #EEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEE 85.10638%, #EEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEE 93.61702%, #EEE 100.0%, transparent 100.0%);
      background-image: -o-linear-gradient(left, transparent 0, #EEE 0, #EEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEE 8.51064%, #EEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEE 17.02128%, #EEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEE 25.53191%, #EEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEE 34.04255%, #EEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEE 42.55319%, #EEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEE 51.06383%, #EEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEE 59.57447%, #EEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEE 68.08511%, #EEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEE 76.59574%, #EEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEE 85.10638%, #EEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEE 93.61702%, #EEE 100.0%, transparent 100.0%);
      background-image: linear-gradient(to left, transparent 0, #EEE 0, #EEE 6.38298%, transparent 6.38298%, transparent 8.51064%, #EEE 8.51064%, #EEE 14.89362%, transparent 14.89362%, transparent 17.02128%, #EEE 17.02128%, #EEE 23.40426%, transparent 23.40426%, transparent 25.53191%, #EEE 25.53191%, #EEE 31.91489%, transparent 31.91489%, transparent 34.04255%, #EEE 34.04255%, #EEE 40.42553%, transparent 40.42553%, transparent 42.55319%, #EEE 42.55319%, #EEE 48.93617%, transparent 48.93617%, transparent 51.06383%, #EEE 51.06383%, #EEE 57.44681%, transparent 57.44681%, transparent 59.57447%, #EEE 59.57447%, #EEE 65.95745%, transparent 65.95745%, transparent 68.08511%, #EEE 68.08511%, #EEE 74.46809%, transparent 74.46809%, transparent 76.59574%, #EEE 76.59574%, #EEE 82.97872%, transparent 82.97872%, transparent 85.10638%, #EEE 85.10638%, #EEE 91.48936%, transparent 91.48936%, transparent 93.61702%, #EEE 93.61702%, #EEE 100.0%, transparent 100.0%); } }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }
@font-face {
  font-family: 'IRAN';
  src: url("../fonts/IRAN.eot?#") format("eot"), url("../fonts/IRAN.woff") format("woff"), url("../fonts/IRAN.svg") format("svg"), url("../fonts/IRAN.ttf") format("truetype"); }
body {
  background: #F6F6F8;
  font-size: 14px;
  line-height: 1.618;
  font-family: "Open Sans" sans-serif;
  color: #2E2D33;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

#purchase_header {
  height: 72px;
  width: 100%;
  background: #272727; }
  #purchase_header .header_container {
    max-width: 87.5em;
    margin-left: auto;
    margin-right: auto; }
    #purchase_header .header_container:after {
      content: "";
      display: table;
      clear: both; }
    #purchase_header .header_container .logo {
      background: red;
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 23.40426%;
      height: 72px; }
      #purchase_header .header_container .logo:last-child {
        margin-right: 0; }
    #purchase_header .header_container #purchase_navigation {
      background: green;
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 65.95745%;
      height: 72px;
      margin-left: 8.51064%; }
      #purchase_header .header_container #purchase_navigation:last-child {
        margin-right: 0; }

#main_content {
  max-width: 87.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  height: 500px; }
  #main_content:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 27.5625em) and (max-width: 60em) {
    #main_content {
      float: left;
      display: block;
      margin-right: 3.22581%;
      width: 100%; }
      #main_content:last-child {
        margin-right: 0; } }
  #main_content .left_purchase {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 23.40426%;
    background: red;
    height: 400px; }
    #main_content .left_purchase:last-child {
      margin-right: 0; }
    @media screen and (max-width: 440px) {
      #main_content .left_purchase {
        display: none; } }
  #main_content .main_section {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 48.93617%;
    background: blue;
    height: 400px; }
    #main_content .main_section:last-child {
      margin-right: 0; }
    @media screen and (max-width: 440px) {
      #main_content .main_section {
        float: left;
        display: block;
        margin-right: 4.34783%;
        width: 100%; }
        #main_content .main_section:last-child {
          margin-right: 0; } }
  #main_content .right_text {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 23.40426%;
    background: red;
    height: 400px; }
    #main_content .right_text:last-child {
      margin-right: 0; }
    @media screen and (max-width: 440px) {
      #main_content .right_text {
        float: left;
        display: block;
        margin-right: 4.34783%;
        width: 100%; }
        #main_content .right_text:last-child {
          margin-right: 0; } }

/*# sourceMappingURL=purchase.css.map */
