/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body:before {
  content: '';
  display: inline-block;
  background-image: -webkit-linear-gradient(left, transparent 0, #EEE 0, #EEE 7.47664%, transparent 7.47664%, transparent 8.41121%, #EEE 8.41121%, #EEE 15.88785%, transparent 15.88785%, transparent 16.82243%, #EEE 16.82243%, #EEE 24.29907%, transparent 24.29907%, transparent 25.23364%, #EEE 25.23364%, #EEE 32.71028%, transparent 32.71028%, transparent 33.64486%, #EEE 33.64486%, #EEE 41.1215%, transparent 41.1215%, transparent 42.05607%, #EEE 42.05607%, #EEE 49.53271%, transparent 49.53271%, transparent 50.46729%, #EEE 50.46729%, #EEE 57.94393%, transparent 57.94393%, transparent 58.8785%, #EEE 58.8785%, #EEE 66.35514%, transparent 66.35514%, transparent 67.28972%, #EEE 67.28972%, #EEE 74.76636%, transparent 74.76636%, transparent 75.70093%, #EEE 75.70093%, #EEE 83.17757%, transparent 83.17757%, transparent 84.11215%, #EEE 84.11215%, #EEE 91.58879%, transparent 91.58879%, transparent 92.52336%, #EEE 92.52336%, #EEE 100%, transparent 100%);
  background-image: -moz-linear-gradient(left, transparent 0, #EEE 0, #EEE 7.47664%, transparent 7.47664%, transparent 8.41121%, #EEE 8.41121%, #EEE 15.88785%, transparent 15.88785%, transparent 16.82243%, #EEE 16.82243%, #EEE 24.29907%, transparent 24.29907%, transparent 25.23364%, #EEE 25.23364%, #EEE 32.71028%, transparent 32.71028%, transparent 33.64486%, #EEE 33.64486%, #EEE 41.1215%, transparent 41.1215%, transparent 42.05607%, #EEE 42.05607%, #EEE 49.53271%, transparent 49.53271%, transparent 50.46729%, #EEE 50.46729%, #EEE 57.94393%, transparent 57.94393%, transparent 58.8785%, #EEE 58.8785%, #EEE 66.35514%, transparent 66.35514%, transparent 67.28972%, #EEE 67.28972%, #EEE 74.76636%, transparent 74.76636%, transparent 75.70093%, #EEE 75.70093%, #EEE 83.17757%, transparent 83.17757%, transparent 84.11215%, #EEE 84.11215%, #EEE 91.58879%, transparent 91.58879%, transparent 92.52336%, #EEE 92.52336%, #EEE 100%, transparent 100%);
  background-image: -ms-linear-gradient(left, transparent 0, #EEE 0, #EEE 7.47664%, transparent 7.47664%, transparent 8.41121%, #EEE 8.41121%, #EEE 15.88785%, transparent 15.88785%, transparent 16.82243%, #EEE 16.82243%, #EEE 24.29907%, transparent 24.29907%, transparent 25.23364%, #EEE 25.23364%, #EEE 32.71028%, transparent 32.71028%, transparent 33.64486%, #EEE 33.64486%, #EEE 41.1215%, transparent 41.1215%, transparent 42.05607%, #EEE 42.05607%, #EEE 49.53271%, transparent 49.53271%, transparent 50.46729%, #EEE 50.46729%, #EEE 57.94393%, transparent 57.94393%, transparent 58.8785%, #EEE 58.8785%, #EEE 66.35514%, transparent 66.35514%, transparent 67.28972%, #EEE 67.28972%, #EEE 74.76636%, transparent 74.76636%, transparent 75.70093%, #EEE 75.70093%, #EEE 83.17757%, transparent 83.17757%, transparent 84.11215%, #EEE 84.11215%, #EEE 91.58879%, transparent 91.58879%, transparent 92.52336%, #EEE 92.52336%, #EEE 100%, transparent 100%);
  background-image: -o-linear-gradient(left, transparent 0, #EEE 0, #EEE 7.47664%, transparent 7.47664%, transparent 8.41121%, #EEE 8.41121%, #EEE 15.88785%, transparent 15.88785%, transparent 16.82243%, #EEE 16.82243%, #EEE 24.29907%, transparent 24.29907%, transparent 25.23364%, #EEE 25.23364%, #EEE 32.71028%, transparent 32.71028%, transparent 33.64486%, #EEE 33.64486%, #EEE 41.1215%, transparent 41.1215%, transparent 42.05607%, #EEE 42.05607%, #EEE 49.53271%, transparent 49.53271%, transparent 50.46729%, #EEE 50.46729%, #EEE 57.94393%, transparent 57.94393%, transparent 58.8785%, #EEE 58.8785%, #EEE 66.35514%, transparent 66.35514%, transparent 67.28972%, #EEE 67.28972%, #EEE 74.76636%, transparent 74.76636%, transparent 75.70093%, #EEE 75.70093%, #EEE 83.17757%, transparent 83.17757%, transparent 84.11215%, #EEE 84.11215%, #EEE 91.58879%, transparent 91.58879%, transparent 92.52336%, #EEE 92.52336%, #EEE 100%, transparent 100%);
  background-image: linear-gradient(to left, transparent 0, #EEE 0, #EEE 7.47664%, transparent 7.47664%, transparent 8.41121%, #EEE 8.41121%, #EEE 15.88785%, transparent 15.88785%, transparent 16.82243%, #EEE 16.82243%, #EEE 24.29907%, transparent 24.29907%, transparent 25.23364%, #EEE 25.23364%, #EEE 32.71028%, transparent 32.71028%, transparent 33.64486%, #EEE 33.64486%, #EEE 41.1215%, transparent 41.1215%, transparent 42.05607%, #EEE 42.05607%, #EEE 49.53271%, transparent 49.53271%, transparent 50.46729%, #EEE 50.46729%, #EEE 57.94393%, transparent 57.94393%, transparent 58.8785%, #EEE 58.8785%, #EEE 66.35514%, transparent 66.35514%, transparent 67.28972%, #EEE 67.28972%, #EEE 74.76636%, transparent 74.76636%, transparent 75.70093%, #EEE 75.70093%, #EEE 83.17757%, transparent 83.17757%, transparent 84.11215%, #EEE 84.11215%, #EEE 91.58879%, transparent 91.58879%, transparent 92.52336%, #EEE 92.52336%, #EEE 100%, transparent 100%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.9;
  position: fixed;
  right: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1; }
  @media screen and (max-width: 440px) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #EEE 0, #EEE 15.09434%, transparent 15.09434%, transparent 16.98113%, #EEE 16.98113%, #EEE 32.07547%, transparent 32.07547%, transparent 33.96226%, #EEE 33.96226%, #EEE 49.0566%, transparent 49.0566%, transparent 50.9434%, #EEE 50.9434%, #EEE 66.03774%, transparent 66.03774%, transparent 67.92453%, #EEE 67.92453%, #EEE 83.01887%, transparent 83.01887%, transparent 84.90566%, #EEE 84.90566%, #EEE 100%, transparent 100%);
      background-image: -moz-linear-gradient(left, transparent 0, #EEE 0, #EEE 15.09434%, transparent 15.09434%, transparent 16.98113%, #EEE 16.98113%, #EEE 32.07547%, transparent 32.07547%, transparent 33.96226%, #EEE 33.96226%, #EEE 49.0566%, transparent 49.0566%, transparent 50.9434%, #EEE 50.9434%, #EEE 66.03774%, transparent 66.03774%, transparent 67.92453%, #EEE 67.92453%, #EEE 83.01887%, transparent 83.01887%, transparent 84.90566%, #EEE 84.90566%, #EEE 100%, transparent 100%);
      background-image: -ms-linear-gradient(left, transparent 0, #EEE 0, #EEE 15.09434%, transparent 15.09434%, transparent 16.98113%, #EEE 16.98113%, #EEE 32.07547%, transparent 32.07547%, transparent 33.96226%, #EEE 33.96226%, #EEE 49.0566%, transparent 49.0566%, transparent 50.9434%, #EEE 50.9434%, #EEE 66.03774%, transparent 66.03774%, transparent 67.92453%, #EEE 67.92453%, #EEE 83.01887%, transparent 83.01887%, transparent 84.90566%, #EEE 84.90566%, #EEE 100%, transparent 100%);
      background-image: -o-linear-gradient(left, transparent 0, #EEE 0, #EEE 15.09434%, transparent 15.09434%, transparent 16.98113%, #EEE 16.98113%, #EEE 32.07547%, transparent 32.07547%, transparent 33.96226%, #EEE 33.96226%, #EEE 49.0566%, transparent 49.0566%, transparent 50.9434%, #EEE 50.9434%, #EEE 66.03774%, transparent 66.03774%, transparent 67.92453%, #EEE 67.92453%, #EEE 83.01887%, transparent 83.01887%, transparent 84.90566%, #EEE 84.90566%, #EEE 100%, transparent 100%);
      background-image: linear-gradient(to left, transparent 0, #EEE 0, #EEE 15.09434%, transparent 15.09434%, transparent 16.98113%, #EEE 16.98113%, #EEE 32.07547%, transparent 32.07547%, transparent 33.96226%, #EEE 33.96226%, #EEE 49.0566%, transparent 49.0566%, transparent 50.9434%, #EEE 50.9434%, #EEE 66.03774%, transparent 66.03774%, transparent 67.92453%, #EEE 67.92453%, #EEE 83.01887%, transparent 83.01887%, transparent 84.90566%, #EEE 84.90566%, #EEE 100%, transparent 100%); } }
  @media screen and (min-width: 27.5625em) and (max-width: 60em) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #EEE 0, #EEE 11.26761%, transparent 11.26761%, transparent 12.67606%, #EEE 12.67606%, #EEE 23.94366%, transparent 23.94366%, transparent 25.35211%, #EEE 25.35211%, #EEE 36.61972%, transparent 36.61972%, transparent 38.02817%, #EEE 38.02817%, #EEE 49.29577%, transparent 49.29577%, transparent 50.70423%, #EEE 50.70423%, #EEE 61.97183%, transparent 61.97183%, transparent 63.38028%, #EEE 63.38028%, #EEE 74.64789%, transparent 74.64789%, transparent 76.05634%, #EEE 76.05634%, #EEE 87.32394%, transparent 87.32394%, transparent 88.73239%, #EEE 88.73239%, #EEE 100.0%, transparent 100.0%);
      background-image: -moz-linear-gradient(left, transparent 0, #EEE 0, #EEE 11.26761%, transparent 11.26761%, transparent 12.67606%, #EEE 12.67606%, #EEE 23.94366%, transparent 23.94366%, transparent 25.35211%, #EEE 25.35211%, #EEE 36.61972%, transparent 36.61972%, transparent 38.02817%, #EEE 38.02817%, #EEE 49.29577%, transparent 49.29577%, transparent 50.70423%, #EEE 50.70423%, #EEE 61.97183%, transparent 61.97183%, transparent 63.38028%, #EEE 63.38028%, #EEE 74.64789%, transparent 74.64789%, transparent 76.05634%, #EEE 76.05634%, #EEE 87.32394%, transparent 87.32394%, transparent 88.73239%, #EEE 88.73239%, #EEE 100.0%, transparent 100.0%);
      background-image: -ms-linear-gradient(left, transparent 0, #EEE 0, #EEE 11.26761%, transparent 11.26761%, transparent 12.67606%, #EEE 12.67606%, #EEE 23.94366%, transparent 23.94366%, transparent 25.35211%, #EEE 25.35211%, #EEE 36.61972%, transparent 36.61972%, transparent 38.02817%, #EEE 38.02817%, #EEE 49.29577%, transparent 49.29577%, transparent 50.70423%, #EEE 50.70423%, #EEE 61.97183%, transparent 61.97183%, transparent 63.38028%, #EEE 63.38028%, #EEE 74.64789%, transparent 74.64789%, transparent 76.05634%, #EEE 76.05634%, #EEE 87.32394%, transparent 87.32394%, transparent 88.73239%, #EEE 88.73239%, #EEE 100.0%, transparent 100.0%);
      background-image: -o-linear-gradient(left, transparent 0, #EEE 0, #EEE 11.26761%, transparent 11.26761%, transparent 12.67606%, #EEE 12.67606%, #EEE 23.94366%, transparent 23.94366%, transparent 25.35211%, #EEE 25.35211%, #EEE 36.61972%, transparent 36.61972%, transparent 38.02817%, #EEE 38.02817%, #EEE 49.29577%, transparent 49.29577%, transparent 50.70423%, #EEE 50.70423%, #EEE 61.97183%, transparent 61.97183%, transparent 63.38028%, #EEE 63.38028%, #EEE 74.64789%, transparent 74.64789%, transparent 76.05634%, #EEE 76.05634%, #EEE 87.32394%, transparent 87.32394%, transparent 88.73239%, #EEE 88.73239%, #EEE 100.0%, transparent 100.0%);
      background-image: linear-gradient(to left, transparent 0, #EEE 0, #EEE 11.26761%, transparent 11.26761%, transparent 12.67606%, #EEE 12.67606%, #EEE 23.94366%, transparent 23.94366%, transparent 25.35211%, #EEE 25.35211%, #EEE 36.61972%, transparent 36.61972%, transparent 38.02817%, #EEE 38.02817%, #EEE 49.29577%, transparent 49.29577%, transparent 50.70423%, #EEE 50.70423%, #EEE 61.97183%, transparent 61.97183%, transparent 63.38028%, #EEE 63.38028%, #EEE 74.64789%, transparent 74.64789%, transparent 76.05634%, #EEE 76.05634%, #EEE 87.32394%, transparent 87.32394%, transparent 88.73239%, #EEE 88.73239%, #EEE 100.0%, transparent 100.0%); } }
  @media screen and (min-width: 60.0625em) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, #EEE 0, #EEE 7.47664%, transparent 7.47664%, transparent 8.41121%, #EEE 8.41121%, #EEE 15.88785%, transparent 15.88785%, transparent 16.82243%, #EEE 16.82243%, #EEE 24.29907%, transparent 24.29907%, transparent 25.23364%, #EEE 25.23364%, #EEE 32.71028%, transparent 32.71028%, transparent 33.64486%, #EEE 33.64486%, #EEE 41.1215%, transparent 41.1215%, transparent 42.05607%, #EEE 42.05607%, #EEE 49.53271%, transparent 49.53271%, transparent 50.46729%, #EEE 50.46729%, #EEE 57.94393%, transparent 57.94393%, transparent 58.8785%, #EEE 58.8785%, #EEE 66.35514%, transparent 66.35514%, transparent 67.28972%, #EEE 67.28972%, #EEE 74.76636%, transparent 74.76636%, transparent 75.70093%, #EEE 75.70093%, #EEE 83.17757%, transparent 83.17757%, transparent 84.11215%, #EEE 84.11215%, #EEE 91.58879%, transparent 91.58879%, transparent 92.52336%, #EEE 92.52336%, #EEE 100%, transparent 100%);
      background-image: -moz-linear-gradient(left, transparent 0, #EEE 0, #EEE 7.47664%, transparent 7.47664%, transparent 8.41121%, #EEE 8.41121%, #EEE 15.88785%, transparent 15.88785%, transparent 16.82243%, #EEE 16.82243%, #EEE 24.29907%, transparent 24.29907%, transparent 25.23364%, #EEE 25.23364%, #EEE 32.71028%, transparent 32.71028%, transparent 33.64486%, #EEE 33.64486%, #EEE 41.1215%, transparent 41.1215%, transparent 42.05607%, #EEE 42.05607%, #EEE 49.53271%, transparent 49.53271%, transparent 50.46729%, #EEE 50.46729%, #EEE 57.94393%, transparent 57.94393%, transparent 58.8785%, #EEE 58.8785%, #EEE 66.35514%, transparent 66.35514%, transparent 67.28972%, #EEE 67.28972%, #EEE 74.76636%, transparent 74.76636%, transparent 75.70093%, #EEE 75.70093%, #EEE 83.17757%, transparent 83.17757%, transparent 84.11215%, #EEE 84.11215%, #EEE 91.58879%, transparent 91.58879%, transparent 92.52336%, #EEE 92.52336%, #EEE 100%, transparent 100%);
      background-image: -ms-linear-gradient(left, transparent 0, #EEE 0, #EEE 7.47664%, transparent 7.47664%, transparent 8.41121%, #EEE 8.41121%, #EEE 15.88785%, transparent 15.88785%, transparent 16.82243%, #EEE 16.82243%, #EEE 24.29907%, transparent 24.29907%, transparent 25.23364%, #EEE 25.23364%, #EEE 32.71028%, transparent 32.71028%, transparent 33.64486%, #EEE 33.64486%, #EEE 41.1215%, transparent 41.1215%, transparent 42.05607%, #EEE 42.05607%, #EEE 49.53271%, transparent 49.53271%, transparent 50.46729%, #EEE 50.46729%, #EEE 57.94393%, transparent 57.94393%, transparent 58.8785%, #EEE 58.8785%, #EEE 66.35514%, transparent 66.35514%, transparent 67.28972%, #EEE 67.28972%, #EEE 74.76636%, transparent 74.76636%, transparent 75.70093%, #EEE 75.70093%, #EEE 83.17757%, transparent 83.17757%, transparent 84.11215%, #EEE 84.11215%, #EEE 91.58879%, transparent 91.58879%, transparent 92.52336%, #EEE 92.52336%, #EEE 100%, transparent 100%);
      background-image: -o-linear-gradient(left, transparent 0, #EEE 0, #EEE 7.47664%, transparent 7.47664%, transparent 8.41121%, #EEE 8.41121%, #EEE 15.88785%, transparent 15.88785%, transparent 16.82243%, #EEE 16.82243%, #EEE 24.29907%, transparent 24.29907%, transparent 25.23364%, #EEE 25.23364%, #EEE 32.71028%, transparent 32.71028%, transparent 33.64486%, #EEE 33.64486%, #EEE 41.1215%, transparent 41.1215%, transparent 42.05607%, #EEE 42.05607%, #EEE 49.53271%, transparent 49.53271%, transparent 50.46729%, #EEE 50.46729%, #EEE 57.94393%, transparent 57.94393%, transparent 58.8785%, #EEE 58.8785%, #EEE 66.35514%, transparent 66.35514%, transparent 67.28972%, #EEE 67.28972%, #EEE 74.76636%, transparent 74.76636%, transparent 75.70093%, #EEE 75.70093%, #EEE 83.17757%, transparent 83.17757%, transparent 84.11215%, #EEE 84.11215%, #EEE 91.58879%, transparent 91.58879%, transparent 92.52336%, #EEE 92.52336%, #EEE 100%, transparent 100%);
      background-image: linear-gradient(to left, transparent 0, #EEE 0, #EEE 7.47664%, transparent 7.47664%, transparent 8.41121%, #EEE 8.41121%, #EEE 15.88785%, transparent 15.88785%, transparent 16.82243%, #EEE 16.82243%, #EEE 24.29907%, transparent 24.29907%, transparent 25.23364%, #EEE 25.23364%, #EEE 32.71028%, transparent 32.71028%, transparent 33.64486%, #EEE 33.64486%, #EEE 41.1215%, transparent 41.1215%, transparent 42.05607%, #EEE 42.05607%, #EEE 49.53271%, transparent 49.53271%, transparent 50.46729%, #EEE 50.46729%, #EEE 57.94393%, transparent 57.94393%, transparent 58.8785%, #EEE 58.8785%, #EEE 66.35514%, transparent 66.35514%, transparent 67.28972%, #EEE 67.28972%, #EEE 74.76636%, transparent 74.76636%, transparent 75.70093%, #EEE 75.70093%, #EEE 83.17757%, transparent 83.17757%, transparent 84.11215%, #EEE 84.11215%, #EEE 91.58879%, transparent 91.58879%, transparent 92.52336%, #EEE 92.52336%, #EEE 100%, transparent 100%); } }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }
@font-face {
  font-family: 'IRAN';
  src: url("../fonts/IRAN.eot?#") format("eot"), url("../fonts/IRAN.woff") format("woff"), url("../fonts/IRAN.svg") format("svg"), url("../fonts/IRAN.ttf") format("truetype"); }
body {
  background: #F6F6F8;
  font-size: 14px;
  line-height: 1.618;
  font-family: "Open Sans" sans-serif;
  color: #2E2D33;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

#wrapper #purchase_header {
  height: 72px;
  width: 100%;
  background: #272727;
  position: relative;
  z-index: 1000;
  border-bottom: 1px solid #e5e5e5; }
  #wrapper #purchase_header .header_container {
    height: 72px;
    width: 95%; }
    #wrapper #purchase_header .header_container .moto-paarseh-logo {
      width: 30%;
      float: left;
      display: inline-block; }
      @media screen and (max-width: 960px) {
        #wrapper #purchase_header .header_container .moto-paarseh-logo {
          width: 100%;
          text-align: center; } }
      @media screen and (max-width: 440px) {
        #wrapper #purchase_header .header_container .moto-paarseh-logo img {
          height: 40px;
          margin-top: 18.5px; } }
      #wrapper #purchase_header .header_container .moto-paarseh-logo img {
        margin-top: 11px;
        padding-left: 20px; }
    #wrapper #purchase_header .header_container #purchase_navigation {
      width: 60%;
      float: right;
      padding-right: 30px;
      direction: rtl; }
      @media screen and (max-width: 440px) {
        #wrapper #purchase_header .header_container #purchase_navigation {
          display: none; } }
      @media screen and (min-width: 27.5625em) and (max-width: 60em) {
        #wrapper #purchase_header .header_container #purchase_navigation {
          display: none; } }
      #wrapper #purchase_header .header_container #purchase_navigation a {
        text-align: right;
        color: white;
        text-decoration: none;
        font-family: "IRAN";
        line-height: 72px;
        padding-left: 15px;
        font-size: 16px; }
      #wrapper #purchase_header .header_container #purchase_navigation a:hover {
        border-bottom: 1px solid #ebebeb; }
    #wrapper #purchase_header .header_container .menu_icon {
      position: absolute;
      top: 24px;
      right: 15px;
      opacity: 0.8; }
      @media screen and (min-width: 60.0625em) {
        #wrapper #purchase_header .header_container .menu_icon {
          display: none; } }
#wrapper #main_content {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  color: black;
  direction: rtl;
  font-family: "IRAN"; }
  #wrapper #main_content:after {
    content: "";
    display: table;
    clear: both; }
  #wrapper #main_content h1.promo {
    margin-top: 30px;
    padding-right: 20px;
    font-size: 32px; }
  #wrapper #main_content .side_content {
    float: left;
    display: block;
    margin-right: 0.93458%;
    width: 57.94393%;
    height: 100px;
    direction: rtl; }
    #wrapper #main_content .side_content:last-child {
      margin-right: 0; }
    #wrapper #main_content .side_content .input-lg {
      height: 45px;
      padding: 10px 16px;
      margin-bottom: 16px;
      border-radius: 6px;
      font-size: 18px;
      border: 1px solid #ccc; }
    #wrapper #main_content .side_content .submit_button {
      background-color: #33a1ff;
      color: #ffffff;
      border-color: #33a1ff;
      width: 150px;
      height: 45px;
      font-size: 18px;
      cursor: pointer;
      -webkit-appearance: button;
      border-radius: 6px; }
  #wrapper #main_content .deviceContainer {
    float: left;
    display: block;
    margin-right: 0.93458%;
    width: 41.1215%;
    height: 300px; }
    #wrapper #main_content .deviceContainer:last-child {
      margin-right: 0; }
    #wrapper #main_content .deviceContainer .watch_container img {
      height: 100%;
      width: 100%;
      text-align: center; }
    #wrapper #main_content .deviceContainer .thumbnail_container ul {
      text-align: center;
      text-decoration: none;
      padding: 0; }
      #wrapper #main_content .deviceContainer .thumbnail_container ul li {
        display: inline-block;
        padding-left: 15px; }

/*# sourceMappingURL=purchase.css.map */
